page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }
}

.text-center{
  text-align: center;
}

.caja-vacia{
  color: #C7C7C7;
  padding-top: 40%;
}
.caja-vacia p{
  font-size: 30px;
}

.icono-grande{
  font-size: 100px;
}
